:root {
  --color-main: #2e2f42;
  --color-secondary: #434455;
  --accent-color: #ffffff;
  --logo-color-main: #4d5ae5;
  --logo-color-secondary: #f4f4fd;
}

/* Base styles */

.section {
}

/* Header styles */

.header {
}

.header-nav {
}

.header-logo {
  color: var(--logo-color-main);
}

.header-logo-second {
  color: var(--color-main);
}

.header-list {
}

.header-item {
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
  color: var(--color-main);
}

.header-contacts {
}

.header-contacts-list {
}

.header-contacts-item {
}

.header-contacts-link {
  color: var(--color-secondary);
}

/* Hero styles */

.hero {
  background-color: darkolivegreen;
}

.hero-title {
  color: var(--accent-color);
}

.hero-btn {
  color: var(--accent-color);
}

/* Section 1 styles */

.about-section {
}
.about-title {
  color: var(--color-main);
}
.about-list {
}
.about-item {
}
.about-title-name {
  color: var(--color-main);
}
.about-undertitle {
  color: var(--color-secondary);
}

/* Section 2 styles */

.projects-section {
}
.projects-title {
  color: var(--color-main);
}

.projects-list {
}
.projects-item {
}
.projects-img {
}

/* Section 3 styles */

.team-section {
}
.team-title {
  color: var(--color-main);
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-title-name {
  color: var(--color-main);
}
.team-undertitle {
  color: var(--color-secondary);
}

/* Footer section */

.footer {
}

.footer-logo {
  color: var(--logo-color-main);
}

.footer-logo-second {
  color: var(--logo-color-secondary);
}

.footer-undertitle {
  color: var(--logo-color-secondary);
}
